.App {
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    background-color: #C0C0C0	;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {    
    padding: 5px;
 }
  
  button {
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  .briem-hand {
    font-family: "Briem Hand", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }